.main-container{
  background-color: var(--c-primary);
}

.task-header{
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.task-header .select{
  position: relative;
  flex: 1 1 0;
  margin-left: 8px;
}

.task-header .select:first-child{
  margin-left: 0
}

.task-header .select:after{
  content: url(./../svg/arrow-down.svg);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  width: 48px;
}

.toggle-form{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 88px;
}

.toggle-form .c-float-button{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100px;
}

.task-body{
  height: calc(100vh - 125px);
  overflow: auto;
}

.task-body:after{
  content: "";
  display: block;
  height: 100px;
  background-color: #fff;
}

.task-body.-filtered .task-item{
  display: none;
}

.task-body.-filtered.-pending .task-item.-pending,
.task-body.-filtered.-prioritized .task-item.-prioritized,
.task-body.-filtered.-resolved .task-item.-resolved{
  display: flex;
}

.wrap-list-tasks{
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  background-color: #fff;
}