:root{
  --c-primary: #0129ff;
  --c-alert: #e3260d;
  --c-gray-text: #898989;
  --c-gray: #e1e1e1;
}

/* Resets */

body {
  background-color: var(--c-primary);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

ul{
  padding: 0;
  list-style-type: none;
  margin: 0;
}

/* Helpers */
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.none{
  display: none;
}

.rotate180{
  transform: rotate(180deg)
}

select:focus,
input:focus{
  outline: 0;
}

.shadow-card{
  box-shadow: 0 -4px 30px 0 rgba(0, 0, 0, 0.15);
}