.main-container{
  background-color: var(--c-primary);
}

.task-header{
  padding: 0 16px;
  margin-bottom: 24px;
}
.task-header .select{
  position: relative;
}

.task-header .select:after{
  content: url(svg/arrow-down.svg);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  width: 48px;
}