.c-float-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.25s;
}

.c-float-button.-active{
  pointer-events: initial;
  opacity: 1;
}


.c-float-button .label{
  color: var(--c-gray-text);
  font-size: 14px;
}

.c-float-button .button-float {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
}

.c-float-button .button-float.-solid {
  border-color: var(--c-primary);
  background-color: var(--c-primary);
}

.c-float-button .button-float.-solid svg{
  fill: white
}

.c-float-button .button-float.-ghost {
  border-color: var(--c-primary);
  background-color: var(--color-white);
}

.c-float-button .button-float.-ghost svg {
  fill: var(--c-primary);
  transform: rotate(45deg)
}
