.c-task-item {
  background-color: var(--color-white);
  border-radius: 20px 20px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 -4px 30px 0 rgba(0, 0, 0, 0.15);
  padding: 24px;
  padding-bottom: 16px;
  background-color: #fff;
  position: relative;
}

.c-task-item:after {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 100%;
  height: 40px;
  left: 0;
  right: 0;
}

.c-task-item.-resolved .check{
  border: solid 1px var(--c-primary);
}

.c-task-item.-resolved .check svg{
  fill: var(--c-primary);
}

.c-task-item.-resolved .title{
  text-decoration: line-through;
}

.c-task-item.-prioritized .heart svg{
  fill: var(--c-alert)
}

.c-task-item .task-detail {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.c-task-item .date {
  margin: 0;
  color: var(--c-gray-text);
  font-size: 14px;
}

.c-task-item .check {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: solid 1px var(--c-gray);
  box-sizing: border-box;
  flex-shrink: 0;
}

.c-task-item .check svg {
  fill: white;
  margin: 4px 0 0 2px;
}

.c-task-item .title {
  margin: 0;
  margin-bottom: 5px;
  line-height: 1.4;
}

.c-task-item .heart {
  padding: 8px;
  padding-bottom: 0;
  margin-top: -6px;
  margin-right: -8px;
}

.c-task-item .heart svg {
  fill: var(--c-gray);
}

.c-task-item .info {
  display: flex;
  flex-grow: 1;
}
